<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/search.css">
    <title>Update an Appointment</title>
</head>
<body>
    {{> subHeader}}

    <div class="container" id="update-container">

        <div class="SearchDiv">
            <form method="GET" id="searchForm">
                <span class="headerreg">Search by Appointment ID:</span>
                <input type="text" name="search" id ="searchInput" value="{{appt_id}}" placeholder="Search Appointment ID...">
                <button type="submit" id="searchBtn">Search</button>
            </form>
        </div>

        <div class="inner-container" id="update-inner-container">
            <div class="title">Update Appointment</div>

            <form action="/{{port}}/update-appointment/{{appt_id}}" method="post" id="appointment-form" autocomplete="off">
                <div class="user-details">
                    <div class="input">
                        <span class="headerreg">Doctor ID:</span>
                        <input type="text" id="doctor-id" value="{{doctor_id}}" required>
                    </div>

                    <div class="input">
                        <span class="headerreg">Clinic ID:</span>
                        <input type="text" id="clinic-id" value="{{clinic_id}}" required>
                    </div>

                    <div class="input">
                        <span class="headerreg">Status:</span>

                        <select name="type" id="status" required>
                            <option value="Queued">Queued</option>
                            <option value="Serving">Serving</option>
                            <option value="Complete">Complete</option>
                            <option value="Skip">Skip</option>
                            <option value="Cancel">Cancel</option>
                        </select>
                    </div>

                    <div class="input">
                        <span class="headerreg">Start Time:</span>
                        <input type="datetime-local" id="start-time">
                    </div>

                    <div class="input">
                        <span class="headerreg">End Time:</span>
                        <input type="datetime-local" id="end-time">
                    </div>

                    <div class="input">
                        <span class="headerreg">Appointment Type:</span>
                        
                        <select name="type" id="appointment-type" required>
                            <option value="Consultation">Consultation</option>
                            <option value="Inpatient">Inpatient</option>
                        </select>
                    </div>

                    <div class="input">
                        <span class="headerreg">Virtual?</span>
                        <input type="checkbox" id="is-virtual" value="1">
                    </div>
                </div>

                <div class="submit-button">
                    <input type="submit" id="submit-button" value="Submit">
                </div>
            </form>
        </div>
    </div>

    <script>

        let port = "{{port}}"
        console.log(port)

        console.log(("{{status}}" == ""))
        console.log("WTF")

        let curStatus 
        let curType 
        let statusSelection
        let typeSelection
        let isChecked

        curStatus =  ("{{status}}" == "") ? " " : "{{status}}"
        curType =  ("{{isVirtual}}" == "") ? " " : "{{type}}"
        statusSelection = document.getElementById('status')
        typeSelection = document.getElementById('appointment-type')
        isChecked = ("{{isVirtual}}" == "") ? " " : "{{isVirtual}}"

        if(isChecked == true) {
            document.getElementById("is-virtual").checked = true;
        }
        else {
            document.getElementById("is-virtual").checked = false;
        }

        for(var i, j = 0; i = statusSelection.options[j]; j++) {
            if(i.value == curStatus) {
                statusSelection.selectedIndex = j;
                break;
            }   
        }

        for(var i, j = 0; i = typeSelection.options[j]; j++) {
            if(i.value == curType) {
                typeSelection.selectedIndex = j;
                break;
            }
        }

        const searchButton = document.getElementById('searchBtn')

        searchButton.addEventListener('click', (event) => {
            event.preventDefault();

            url = '/' + port + '/update-appointment/' + searchInput.value
            console.log(url)
            console.log(port)
            window.location.href = url;
        })
    </script>
    <script src="/js/updateAppointment.js" defer></script>
</body>
</html>
